body {
	padding: 20px;
}
form {
	display: block;
	margin: auto;
	text-align: center;
}
button,
input {
	margin: auto;
	display: block !important;
	margin-bottom: 10px;
	width: 100%;
	max-width: 400px;
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}
#pokemon-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#pokemon-wrapper .card {
	width: 30%;
	margin: 20px 0;
	border-radius: 30px;
	padding: 40px;
	border-color: yellow;
	border-width: 15px;
}

#pokemon-wrapper .card h1 {
	font-size: 24px;
}

#pokemon-wrapper .card h1,
#pokemon-wrapper .card p {
	text-align: center;
}

@media (max-width: 991px) {
	button,
	input {
		max-width: 400px;
	}
}

@media (max-width: 767px) {
	#pokemon-wrapper .card h1 {
		font-size: 28px;
	}
	#pokemon-wrapper .card {
		width: 45%;
	}
	button,
	input {
		max-width: 100%;
	}
}

@media (max-width: 478px) {
	#pokemon-wrapper .card {
		width: 100%;
	}
}
